* {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Inter';
    font-size: 16px;
}
@font-face {
    font-family: 'MontAlt';
    src: url('/fonts/MontserratAlternates-LightItalic.ttf');
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter.ttf');
}

@font-face {
    font-family: 'LostFish';
    src: url('/fonts/LostFish.ttf')
}

#css-zen-garden {
    display: flex;
    background: url('/images/Zen-Garden.png') no-repeat;
    background-size: 100%;
}

[role=banner] {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

abbr {
    font-family: 'MontAlt';
    font-size: 16px;
}

h2 abbr {
    font-size: 35px;
}

h1, h2 {
    display: flex;
    font-family: 'LostFish';
}

h1 {
    font-size: 70px;
    
}
h2 {
    font-size: 35px;
}
.preamble {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.preamble h3 {
    align-self: center;
}

.main.supporting {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.main.supporting .explanation {
    display: flex;
    flex-flow: column nowrap;
    margin: 20px 0 20px 20px;
}

.explanation h3 {
    align-self: flex-start;
}

div.explanation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

[complementary] {
    /* whatever */
}

a:visited {
    color: yellow;
}