* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    font-size: 16px;
}
@font-face {
    font-family: 'MontAlt';
    src: url('/fonts/MontserratAlternates-LightItalic.ttf');
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter.ttf');
}

@font-face {
    font-family: 'LostFish';
    src: url('/fonts/LostFish.ttf')
}

body {
    display: flex;
    background-image: url('/images/Zen-Garden.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

[role=banner] {
    display: flex;
    flex-direction: column;
    align-items: center;
}

abbr {
    font-family: 'MontAlt';
    font-size: 16px;
}

h2 abbr {
    font-size: 35px;
}

h1, h2 {
    font-family: 'LostFish';
    font-size: 70px;
}

header {
    background-color: white;
}

h2 {
    font-size: 35px;
}
#zen-preamble {
    display: flex;
    background-color: white;
}

